{% extends 'home/base.html' %}

{% block content %}
<div class="max-w-7xl mx-auto flex items-start py-6 px-6 xl:px-1">
    <div class="filters w-full lg:w-2/4">
        <h3 class="mb-4 mt-4 text-xl uppercase">Pesquisa</h3>

        <form method="get" action=".">
            <div class="flex">
                <input type="text" name ="query" class="p-3 bg-gray-100 border-0" placeholder="Pesquisar"> 
                <button class="p-4 bg-gray-100 border-0">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 15.75l-2.489-2.489m0 0a3.375 3.375 0 10-4.773-4.773 3.375 3.375 0 004.774 4.774zM21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>                      
                </button>
            </div>
        </form>

        <h3 class="mt-5 mb-3 text-xl uppercase">Categorias</h3>

        <ul class="space-y-2">
            <li><a href="{% url 'shop' %}" class="{% if not categorias_ativas %}text-green-500{% else %} text-gray-500{% endif %}">Todas as Categorias</a></li>

            {% for Categorias in Categorias %}
                <li><a href="{% url 'shop' %}?Categorias={{ Categorias.slug }}" class="{% if Categorias.slug == categorias_ativas %}text-green-500{% else %} text-gray-500{% endif %}">{{ Categorias.name}}</a></li>
            {% endfor %}
        </ul>

    </div>
    
    <div class="mt-6 products w-full lg:w-4/2 -mt-4 flex items-center flex-wrap">
        {% for Produtos in Produtos %}
            {% include 'produtos/vitrine/lista_de_produtos.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}